@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --body-bg-color: #e5ecef;
  --theme-bg-color: #fafafb;
  --body-font: "Poppins", sans-serif;
  --body-color: #2f2f33;
  --active-color: #0162ff;
  --active-light-color: #e1ebfb;
  --header-bg-color: #fff;
  --search-border-color: #efefef;
  --border-color: #d8d8d8;
  --alert-bg-color: #e8f2ff;
  --subtitle-color: #83838e;
  --inactive-color: #f0f0f0;
  --placeholder-color: #9b9ba5;
  --time-button: #fc5757;
  --level-button: #5052d5;
  --button-color: #fff;
}

::placeholder {
  color: var(--placeholder-color);
}

body{
  background-color: #fafafb;

}
input[type='text'] {
	padding: 10px;
	margin-right: 10px;
	font-size: 16px;
  border-radius: 3px;
}

img {
  max-width: 100%;
}

.job {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;

  background-color: var(--theme-bg-color);
}

.user-settings {
  display: flex;
  align-items: center;
  font-weight: 500;
  svg {
    width: 20px;
    color: #94949f;
  }
}

.job-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 30px 40px;
}

.search-menu {
  height: 56px;
  white-space: nowrap;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
  div:not(:last-of-type) {
    border-right: 1px solid var(--search-border-color);
  }
}

.search-bar {
  height: 55px;
  width: 100%;
  position: relative;
  
}

.search-location,
.search-job,
.search-salary {
  display: flex;
  align-items: center;
  width: 50%;
  font-size: 14px;
  font-weight: 500;
  padding: 0 25px;
  height: 100%;
}

.search-button {
  background-color: var(--active-color);
  height: 55px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  padding: 0 15px;
  border-radius: 0 8px 8px 0;
  color: var(--button-color);
  cursor: pointer;
  margin-left: auto;
}

.search.item {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 13px;
  color: var(--active-color);
  border: 1px solid var(--search-border-color);
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.search.item svg {
    width: 12px;
    margin-left: 5px;
  }
  .search.item svg:last-child {
    left: 185px;
  }


.main-container {
  display: flex;
  flex-grow: 1;
  padding-top: 30px;
  background-color: #fafafb;
}

.search-type {
  width: 270px;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
}

.alert {
  background-color: var(--alert-bg-color);
  padding: 24px 18px;
  border-radius: 8px;
  &-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &-subtitle {
    font-size: 13px;
    color: var(--subtitle-color);
    line-height: 1.6em;
    margin-bottom: 20px;
  }
}

.search-buttons {
  border: none;
  color: var(--button-color);
  background-color: var(--active-color);
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 14px;
}

.job-wrapper {
  padding-top: 20px;
}

.job-time {
  padding-top: 20px;
  &-title {
    font-size: 14px;
    font-weight: 500;
  }
}

.type-container {
  display: flex;
  align-items: center;
  color: var(--subtitle-color);
  font-size: 13px;
  label {
    margin-left: 2px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  & + & {
    margin-top: 10px;
  }
}

.job-number {
  margin-left: auto;
  background-color: var(--inactive-color);
  color: var(--subtitle-color);
  font-size: 10px;
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
}

.job-style {
  display: none;
}

.job-style + label:before {
  content: "";
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid var(--subtitle-color);
  border-radius: 4px;
  cursor: pointer;
}

.job-style:checked + label:before {
  background-color: var(--active-color);
  border-color: var(--active-color);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3e%3cpath d='M20 6L9 17l-5-5'/%3e%3c/svg%3e");
  background-position: 50%;
  background-size: 14px;
  background-repeat: no-repeat;
}

.job-style:checked + label + span {
  background-color: var(--active-light-color);
  color: var(--active-color);
}

.searched-jobs {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  flex-grow: 1;
  padding-left: 40px;
}

@keyframes slideY {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
}

.searched {
  &-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: slideY 0.6s both;
  }
  &-show {
    font-size: 19px;
    font-weight: 600;
  }
  &-sort {
    font-size: 14px;
    color: var(--subtitle-color);
    .post-time {
      font-weight: 600;
      color: var(--subtitle-color);
    }
    .menu-icon {
      font-size: 9px;
      color: var(--placeholder-color);
      margin-left: 6px;
    }
  }
}

.job-cards {
  padding-top: 20px;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  animation: slideY 0.6s both;
  

  @media screen and (max-width: 1212px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 930px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.job-card-header img {
  width: 400px;
  height: 35vh;
  padding: 10px;
  border-radius: 8px;
}

.job-card {
  padding: 20px 16px;
  margin-bottom: 30px;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(88, 99, 148, 0.17);
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.02);
  }
  
  &-title {
    font-weight: 600;
    margin-top: 16px;
    font-size: 14px;
  }
  &-subtitle {
    color: var(--subtitle-color);
    font-size: 13px;
    margin-top: 14px;
    line-height: 1.6em;
  }
  &-header {
    display: flex;
    align-items: flex-start;
  }
}

.overview-card:hover {
  background: #2b2ecf;
  transition: none;
  transform: scale(1);
  svg {
    box-shadow: none;
  }
  .search-buttons.time-button,
   .search-buttons.level-button {
    background-color: #575ad8;
    color: #fff;
  }
  /* .job-card .job-card-title{
    color: white;
    font-weight: 500;
    font-size: 80px;
  } */
  .job-stat {
    color: #fff;
  }
  .job-card-subtitle,
  .job-day {
    color: #dedede;
  }
  .overview-wrapper .heart {
    color: #fff;
    border-color: #fff;
    &:hover {
      fill: red;
      stroke: red;
      transform: scale(1.1);
    }
  }
}

.detail-button {
  background-color: var(--active-light-color);
  color: var(--active-color);
  font-size: 11px;
  font-weight: 500;
  padding: 6px 8px;
  border-radius: 4px;
  & + & {
    margin-left: 4px;
  }
}
.detail-button:hover{
  color: white;
}
.job-card-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 4px 0px;
}

.card-buttons,
.card-buttons-msg {
  padding: 10px;
  /* width: 100%; */
  font-size: 12px;
  cursor: pointer;
}

.card-buttons {
  margin-right: 12px;
  &-msg {
    background-color: var(--inactive-color);
    color: var(--subtitle-color);
  }
}

/* .menu-dot {
  background-color: var(--placeholder-color);
  box-shadow: -6px 0 0 0 var(--placeholder-color), 6px 0 0 0 var(--placeholder-color);
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 8px;
} */

.header-shadow {
  box-shadow: 0 4px 20px rgba(88, 99, 148, 0.17);
  z-index: 1;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
}



  @media screen and (max-width: 1300px) {
    .search-type {
      display: none;
    }
    .searched-jobs {
      padding-left: 0;
    }
  }

@media screen and (max-width: 930px) {
  .search-job,
  .search-salary {
    display: none;
  }
  .search-bar {
    width: auto;
  }
}

@media screen and (max-width: 730px) {
  .search-type {
    display: none;
  }
  .searched-jobs {
    padding-left: 0;
  }
  .search-menu div:not(:last-of-type) {
    border: 0;
  }
  .job-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-location {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .job-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .header-menu a:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 590px) {
  .header-menu {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  .search.item {
    display: none;
  }
  .search-bar {
    flex-grow: 1;
  }
  .search-bar input {
    padding: 0 0 0 30px;
    
  }
  .search-button {
    margin-left: 16px;
  }
  .searched-bar {
    flex-direction: column;
    align-items: flex-start;
  }
  .searched-sort {
    margin-top: 5px;
  }
  .main-container {
    padding-top: 20px;
  }
}

@media screen and (max-width: 380px) {
  .wrapper {
    padding: 20px;
  }
  .header {
    padding: 0 20px;
  }
}

.btn-submit {
  background-color: #1d94f7;
  border: none;
  border-radius: 8px;
  color: #eff2f3;
  width: 150px;
  font-weight: 700; 
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  margin-top: 30px;
 
}
 

