.flight-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
}
.flight-search-card {
  max-width: 1500px;
  /* max-height: 200px; */
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 40px;
  background-color: white;
}

.flight-type-ctn {
  display: flex;
}

.search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}
.input-form {
  display: flex;
  flex-direction: row;
}
.flight-type-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 0.8rem;
  margin-left: 0;
}
.form-group {
  margin: 1rem 2rem;
}
.form-group label {
  /* display: block; */
  margin-bottom: 5px;
  padding: 0px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  /* right: 0; */
}

button[type="submit"] {
}

button[type="submit"]:hover {
}
