.auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #007bff;
}

.form-signup {
	width: 500px;
	margin: 0 auto;
	padding: 30px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: black;
	border-left: 10px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 30px;
	color: black;
}

.login_form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.auth_label {
	margin-bottom: 2px;
	font-size: 15px;
	text-align: left;
	margin-left: 30px;
}

.auth_input {
	width: 80%;
	padding: 6px;
	border: #007bff;
	border-style: solid;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	font-size: 15px;
	color: black;
	background-color: white;
	margin-left: 30px;
}

.auth_button {
	padding: 0.4rem;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	transition: background-color 0.2s ease-in-out;
	width: 80%;
	margin-left: 30px;
}

button:hover {
	background-color: #1265a8;
}

a {
	text-decoration: none;
	color: #007bff;
	font-size: 18px;
	transition: color 0.2s ease-in-out;
}

a:hover {
	color: #075196;
}

.auth_p {
	text-align: center;
	margin: 8px;
	color: black;
	font-size: 16px;
}
