
.footer {
    color: #020202;
    font-size: 14px;
  }
  
 .footer-container{
    margin: 0px 100px;
 }

  .footer .footer-content {
    background: #ffffff;
    padding-top: 60px;
  }
  
  .footer .footer-content .footer-info {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-info h3 {
    font-size: 28px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    color: #073e79;
  }
  
  .footer .footer-content .footer-info h3 span {
    color: #0ea2bd;
  }
  
  .footer .footer-content .footer-info p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    font-family:'Baskerville Old Face', "Times New Roman";;
    color: #020202;
  }
  
  .footer .footer-content h4 {
    font-size: 16px;
    font-weight: 600;
    color:#020202;
    position: relative;
    padding-bottom: 12px;
    margin-bottom: 15px;
  }
  
  .footer .footer-content h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #0ea2bd;
    bottom: 0;
    left: 0;
  }
  
  .footer .footer-content .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-content .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-content .footer-links ul i {
    padding-right: 2px;
    color: #020202;
    font-size: 12px;
    line-height: 1;
  }
  
  .footer .footer-content .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-content .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-content .footer-links ul a {
    color:#020202;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
  }
  
  .footer .footer-content .footer-links ul a:hover {
    color:#007bff;
    /* transform: scale(1.0); */
  }
  
  .footer .footer-content .footer-newsletter form {
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px;
  }
  
  .footer .footer-content .footer-newsletter form input[type=email] {
    border: none;
    padding: 4px;
    width: calc(100% - 110px);
  }
  
  .footer .footer-content .footer-newsletter form input[type=email]:focus-visible {
    outline: none;
  }
  
  .footer .footer-content .footer-newsletter form input[type=submit] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #007bff;
    color:#ffffff;
    transition: 0.3s;
    border: none;
    border-radius: 0 4px 4px 0;
  }
  
  .footer .footer-content .footer-newsletter form input[type=submit]:hover {
    background: #0ea2bd, 0.85;
  }

  .footer-legal-container{
    margin: 0px 100px 20px ;

 }
  
  .footer .footer-legal {
    padding: 10px 0;
    background:#ffffff;
  }
  .footer .footer-legal .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-legal .footer-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .footer .footer-legal .footer-links ul i {
    padding-right: 2px;
    color: #020202;
    font-size: 12px;
    line-height: 1;
  }
  
  .footer .footer-legal .footer-links ul li {
    padding: 10px 10px;
    position: relative;
    white-space: nowrap;
    /* align-items: center; */
  }
  
  
  .footer .footer-legal .footer-links ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 10px;
    font-family: 'Baskerville Old Face', "Times New Roman";;
    font-size: 18px;
    font-weight: 400;
    color: #020202;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    
  }
  
  .footer .footer-legal .footer-links ul li a:hover {
    color: #020202;
    transform: scale(1.08);
  }
  
  .footer .footer-legal .credits {
    padding-top: 4px;
    font-size: 13px;
    color:#020202;
  }
  
  .footer .footer-legal .credits a {
    color:#13a3e6;
  }
  
  .footer .footer-legal .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #eeeded;
    color: #020202;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .footer .footer-legal .social-links a:hover {
    background: #0ea2bd;
    text-decoration: none;
  }
  
  