.passenger-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1100px;
	margin-top: 60px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #f9f9f9;
	margin-left: 20rem;
}

.passenger-form label {
	flex: 0 0 30%;
	margin-bottom: 10px;
	margin-left: 10px;
}

.passenger-form input {
	flex: 0 0 65%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 15px;
	margin-left: 10px;
}

.passenger-form button {
	flex-basis: 100%;
	padding: 11px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	margin-top: 10px;
}

.passenger-form button:hover {
	background-color: #0056b3;
}
